<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.dss_matiari">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.MainApp"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:immersive="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/AppThemeEnglish1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.sections.SectionFActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionEActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionCActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionDActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.lists.FPMwraActivity"
            android:exported="true" />
        <activity
            android:name=".ui.lists.FPHouseholdActivity" />
        <activity android:name=".ui.lists.MwraActivity" />
        <activity android:name=".ui.lists.HouseholdActivity" />
        <activity android:name=".ui.lists.FormsReportCluster" />
        <activity
            android:name=".ui.sections.IdentificationActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionAActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionAFupctivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionBActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.SyncActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.EndingActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".database.AndroidManager"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="YEK_REVRES"
            android:value="7D(CL@OTHinSh@oulde3y$BnE)H@McQfTjWnZr4u7w!z%C*F-JaNdRgUkXp2s5v8" />
        <meta-data
            android:name="YEK_TRATS"
            android:value="4" />
    </application>

</manifest>