<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aku.hassannaqvi.dss_matiari">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:immersive="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.lists.MwraActivity" />
        <activity android:name=".ui.lists.HouseholdActivity" />
        <activity android:name=".ui.lists.FormsReportCluster" />
        <activity
            android:name=".ui.sections.IdentificationActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionBActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.sections.SectionAActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SyncActivity" />

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.EndingActivity"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize|stateHidden" />

    </application>

</manifest>